@mixin brand-background($invert-selection: true) {
  background-color: $brand;
  color: $white;

  @if $invert-selection {
    @include inverted-selection;
  }
}

@mixin brand-text {
  @include normal-selection;
  color: #000;
}

@mixin normal-selection {

  &::selection,
  *::selection {
    @include brand-background($invert-selection: false);
  }
}

@mixin inverted-selection {

  &::selection,
  *::selection {
    background-color: rgba($white, 0.99);
    color: #000;
  }
}

%brand-background {
  @include brand-background;
}

%brand-text {
  @include brand-text;
}
