<% if header.present? %>
<!-- Masthead-->
<div class="masthead">
    <div class="container">
        <div class="masthead-subheading"><span><%= header.label %></span><h1><%= header.title %></h1></div>
        <div class="masthead-heading text-uppercase"><%= header.description %></div>
        <a class="btn btn-primary btn-xl text-uppercase" href="#">Debates</a>
        <a class="btn btn-primary btn-xl text-uppercase" href="#">Propuestas</a>
        <a class="btn btn-primary btn-xl text-uppercase" href="#">Presupuestos</a>
        <a class="btn btn-primary btn-xl text-uppercase" href="#">Consultas</a>
    </div>
</div>
<% end %>

